* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Acumin Pro", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  padding: 32px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.title h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 39.68px;
}
.title h5 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
  color: #8f8f8f;
}
.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.conteudo {
  margin: 0 auto;
  position: relative;
  max-width: 1036px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card1 {
  border-radius: 8px;
  height: 279px;
  width: 313px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #0061af;
  position: relative;
}

.card2 {
  border-radius: 8px;
  height: 279px;
  width: 656px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #062759;
  position: relative;
}

.card3 {
  border-radius: 8px;
  height: 199px;
  width: 481px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #231f20;
  position: relative;
}
.card4 {
  border-radius: 8px;
  height: 199px;
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background-color: #32c7ae;
  position: relative;
}
.title-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}
.card-hover1,
.card-hover2,
.card-hover3,
.card-hover4 {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-color: #fff;
  border-bottom: 3px solid;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 8px;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card1:hover .card-hover1,
.card2:hover .card-hover2,
.card3:hover .card-hover3,
.card4:hover .card-hover4 {
  display: flex;
  opacity: 1;
  cursor: pointer;
}

.title-hover1 {
  color: #0061af;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}
.title-hover2 {
  color: #062759;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.title-hover3 {
  color: #231f20;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.title-hover4 {
  color: #32c7ae;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.footer-hover {
  color: #8f8f8f;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.01em;
}

 .my-arrow1 {
  color: #0061af;
  font-size: 24px;
  position: absolute;
  top: 18px; 
  right: 10px; 
}
.my-arrow2 {
  color: #062759;
  font-size: 24px;
  position: absolute;
  top: 18px; 
  right: 10px; 
}
.my-arrow3{
  color: #231f20;
  font-size: 24px;
  position: absolute;
  top: 18px; 
  right: 10px; 
}
.my-arrow4 {
  color: #32c7ae;
  font-size: 24px;
  position: absolute;
  top: 18px;
  right: 10px; 
}

img {
  width: 55px;
  height: 55px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}


@media (min-width: 631px) and (max-width: 1024px) {
  .card1,
  .card2,
  .card3,
  .card4 {
    width: 48%; 
  }
  .card3,
  .card4 {
    height: 279px;
  }
  .container {
    padding: 10px;
  }
}


@media (max-width: 630px) {
  .card1,
  .card2
{
    width: 100%; 
  }
  .container {
    padding: 20px;
  }
  .card3,
  .card4 {
    height: 279px;
    width: 100%;
  }
}

